.header-logo{
    width:120px;
    vertical-align: middle;
}

.notify-text{
    font-size: 14px;
    margin: 0px;
    padding: 5px;
}

.notify-date{
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    color: grey;
}

.notify-icon{
    max-width: 40px;
    max-height: 40px;
}

.notify-category{
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    text-align: right;
    font-weight: 600;
    color: #0e0e27;
}

