.header-logo{
    width:120px;
    vertical-align: middle;
  }

.content-header{
	margin: 0px;
	padding: 10px;
	font-size: 16px;
	background-color: #f1f1f1;
}

.content-div{
	padding: 10px;
    border-bottom: 1px solid lightgray;
}

.content-one{
	font-size: 12px;
	margin: 0px;
	text-transform: capitalize;
}

.content-two{
	font-size: 18px;
    text-transform: capitalize;
    margin: 5px;
    font-weight: 600;
}

.content-three{
	font-size: 14px;
	text-transform: capitalize;
	margin: 5px;
	color: #a7a7a7;
}

.content-noservice{
	margin: 20px 10px;
    text-align: center;
    color: lightgrey;
}