.header-logo{
    width:120px;
    vertical-align: middle;
  }

.content-header{
    font-size: 16px;
    text-transform: capitalize;
    margin: 10px;
    font-weight: 600;
}

.div-css{
    margin: 0px 10px 0px 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.content-one{
    font-size: 14px;
    margin: 5px;
    font-weight: 400;
    text-transform: capitalize;
}

.content-two{
    font-size: 14px;
    margin: 5px;
}

.content-img{
    max-width: 80px;
    max-height: 80px;
}

.content-three{
    font-size: 16px;
    margin: 5px;
}

.content-four{
    font-size: 14px;
    margin: 5px 10px;
}

.row-border{
    border-bottom: 1px dashed lightgray;
}

.content-five{
    font-size: 16px;
    margin: 5px;
    font-weight: 600;
    text-transform: capitalize;
    color: #0e0e27;
}

.content-six{
    font-size: 16px;
    margin: 5px;
    font-weight: 600;
    text-transform: capitalize;
    color: #ffad00;
}

.content-seven{
    font-size: 18px;
    margin:5px;
}

.content-noorder{
	margin: 10px;
    text-align: center;
    color: lightgrey;
}