.header-logo{
  width:120px;
  vertical-align: middle;
}

.content-header{
  font-size: 16px;
  margin: 0px;
  padding: 10px;
  background-color: #f1f1f1;
  text-align: center;
}

.bill-css{
  margin: 10px 10px 0px 10px;
  border: 1px dashed #b3b3b3;
}

.content-one{
  font-size: 14px;
  margin: 0px;
}

.content-bold{
  font-weight: 600;
}

.content-two{
  font-size: 18px;
  font-weight: 600;
  color: grey;
  margin: 5px;
  text-align: center;
}

.content-invoice{
  font-size:14px;
  color:black;
  text-transform: uppercase;
}

.content-three{
  font-size: 16px;
  margin: 0px;
  text-align: center;
}

.margin{
  margin: 5px 0px;
}

.content-noorder{
	margin: 20px 10px;
  text-align: center;
  color: lightgrey;
}